<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Simple Login Form Example</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'><link rel="stylesheet" href="/static/css/style.css">
  
  <!-- Always search well in HTML maybe you can hack NASA with it. Take ur flag : GDSC{HTML_?s_t00_eZ} --> 

</head>
<body>
<div class="login-form">
  <form>
    <h1>Login here : </h1>
    <div class="content">
      <div class="input-field">
        <input type="email" placeholder="ESTIN email" autocomplete="nope">
      </div>
      <div class="input-field">
        <input type="password" placeholder="Password?" autocomplete="new-password">
      </div>
      <a href="#" class="link">New Password?</a>
    </div>
    <div class="action">
      <button>Register</button>
      <button>Sign in</button>
    </div>
  </form>
</div>
<!-- partial -->
<script  src="/static/JS/script.js"></script>
<!-- I took the web page code from https://www.codehim.com/collections/login-page-in-html-with-css-code/ -->
</body>
</html>
